# تجاهل كل مجلدات node_modules في المشروع
**/node_modules

# تجاهل كل ملفات .env (لأنها تحتوي على بيانات حساسة)
**/.env

# تجاهل ملفات النظام
.DS_Store

# تجاهل ملفات اللوغ (Logs)
*.log
npm-debug.log*

# تجاهل مجلدات البناء (Build)
**/dist
**/build